@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap");

:root {
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  width: 100%;
  font-size: 0.9375rem;
  color: #222;
  line-height: 1.73rem;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

h2 {
  font-weight: 2.0rem;
  line-height: 2.4rem;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  padding: 0.3125rem 15.3125rem 0rem 15.3125rem;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}