.home {
  display: flex;
  flex-direction: column;
  gap: 6.25rem;
}

.home .hero-section {
  display: flex;
  align-items: center;
}

.home-title {
  color: #1f4b3f;
  font-size: 2.8125rem;
  font-weight: 700;
  line-height: 3.65625rem; /* 130% */
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  gap: 1.25rem;
  flex: 1;
}
.right {
  flex: 1;
}

.hero-image {
  width: 42.8125rem;
  height: 30.89188rem;
  max-width: 42.8125rem;
}

.home-div-container {
  display: flex;
  gap: 1.25rem;
}

.home-div-container > * {
  display: flex;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.home-div-container a:nth-child(1) {
  border-radius: 0.25rem;
  border: 2px solid #5bbb7b;
  background: #5bbb7b;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.home-div-container a:nth-child(2) {
  border-radius: 0.25rem;
  border: 2px solid #5bbb7b;
  background: #fff;
  color: #5bbb7b;
  text-align: center;
  font-weight: 700;
}

.trusted-section {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1.92rem;
  border-bottom: 1px solid #e9e9e9;
  padding-bottom: 2.56rem;
}

.trusted-react-icon {
  font-size: 2.65rem;
}

.trusted-section-logos {
  gap: 9rem;
  width: 100%;
  justify-content: space-around;
  animation: slideLeftToRight 10s linear infinite;
  animation-timing-function: steps(1);
}

@keyframes slideLeftToRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-100% - 20px));
  }
}

.company-logos {
  width: 5.25rem;
  height: 1.625rem;
  max-width: 4.2rem;
  flex-shrink: 0;
  opacity: 0.699999988079071;
}

/*  */

.flat-icon {
  height: 2.5rem;
  width: 2.5rem;
  background: #fff;
}

.process-section {
  /* align-items: center; */
  justify-content: center;
}

.process-section > div {
  margin-top: 1.3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.94rem;
}

.process-section > div > div {
  text-align: center;
}

.process-section > div > * {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

/*  */
.home-category-section > p {
  margin-bottom: 3.75rem;
}

.categories-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.94rem;
}

/* */

.home-find-talent-section {
  align-items: center;
}
.home-find-talent-section > * {
  flex: 1;
}

.home-find-talent-section > img {
  width: 42.8125rem;
  height: 30.7625rem;
  max-width: 42.8125rem;
  flex-shrink: 0;
}

.home-find-talent-section > div {
  gap: 1.6rem;
}

.talent-link-btn {
  display: flex;
  width: fit-content;
  padding: 1rem 1.5rem;
  justify-content: center;
  align-items: flex-start;
  border-radius: 0.25rem;
  border: 2px solid #5bbb7b;
  background: #fff;
  color: #5bbb7b;
  text-align: center;
  font-weight: 700;
}
