.section-title {
  font-size: var(--section-title-font-size);
  font-weight: var(--section-title-font-weight);
  line-height: var(--section-title-line-height);
  margin: var(--section-title-margin);
  color: var(--section-title-color);
}

.section-hero {
  /* position: relative; */
}

.section-hero .section-body {
  padding: 0rem 4rem;
  min-height: 80svh;
  max-width: 1000px;
  display: flex;
  padding: var(--section-padding);
}

.section-hero .section-title {
  margin-bottom: 5rem;
}


.section-hero .section-inner {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  
  /* background-color: coral; */
}

.hero-homepage {
  background-image: url(../../images/christina-wocintechchat-com-L85a1k-XqH8-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80svh;
}

.button {
  background-color: var(--color-secondary);
}

