.navbar {
  display: flex;
  flex-direction: row;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: sticky;
}

.container.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  padding: 1rem 0;
}

.logo {
  font-size: var(--font-size-x-large);
  font-weight: 700;
  font-family: var(--nav-item-font-family);
  display: inline-block;
}
.logo > * {
    color: var(--color-white);
    text-decoration: none;
}
.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  /* background-color: blue; */
}

.nav-list .nav-item {
  font-family: var(--nav-item-font-family);
  font-weight: var(--nav-item-font-weight);
  font-size: var(--nav-item-font-size);
  letter-spacing: var(--nav-item-letter-spacing);
  margin: var(--nav-item-margin);
  /* background-color:black; */
}
.nav-item .nav-link {
  color: var(--color-white);
  padding: 0.5rem 0;
}
