.navbar {
  width: 100%;
  display: flex;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.059);
}

.nav-logo {
  font-size: 2.5rem;
  font-weight: 500;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2.75rem;
}

.nav-item.sign-up {
  background-color: #5bbb7b;
  display: flex;
  padding: 0.3125rem 1.5175rem 0.42188rem 1.5625rem;
  align-items: flex-start;
  color: #fff;
}

.user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.user > img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.user > .options {
  position: absolute;
  top: 50px;
  right: 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid lightgrey;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
  font-weight: 300;
  color: gray;
}
