.section-trusted {
  background-color: #D6F0EE;
  color: var(--color-white);
  padding: 2rem 0;
}

.nav-trusted-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-trusted-item span {
  font-size: var(--font-size-medium);
  font-weight: 700;
}
